<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Ordering</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/admin/dashboard.css">
</head>
<body>

    <!-- Navigation Bar -->
  <%- include('components/nav') %>

     <!--   PRODUCTS  -->

     <section class=" mb-5">
        <div class="container product-container">
          <div cass="row mt-4">
            <a href="/admin/dashboard/addproduct" class="btn btn-success">Add products</a>
          <table class="table mt-5">
            <% if (products.length==0) { %>
             <h3 class="text-center">No Products</h3>
            <% }else{ %>
              <thead>
                <tr>
                  <th scope="col">NAME</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">DISCRIPTION</th>
                  <th scope="col">IMAGE</th>
                  <th scope="col">REMOVE</th>
                </tr>
              </thead>
              <tbody>
              <% for( let i = 0; i < products.length; i++ ) { %>
                <tr>
                  <td><%= products[i].name %></td>
                  <td><%= products[i].price %></td>
                  <td><%= products[i].description %></td>
                  <td><img style="width:150px; height:150px;border-radius: 5px;" src="<%= products[i].image %>"></td>
                  <td><a href="/admin/dashboard/product/delete/<%= products[i].id %>" class="btn btn-primary">REMOVE</a><td>
                </tr>
              <% } %>
            </tbody>
              <% } %>
                 
       
      </table>
        </div>
       </section>
      
        <!--  FOOTER   -->
    
        <%- include('../user/components/footer') %>
    

    <!-- Bootstrap JS and Popper.js (optional) -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
