<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f8f9fa;
    }

    .container {
      max-width: 70%;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #007bff;
      text-align: center;
    }

    .order-details {
      margin-top: 30px;
    }

    .order-status {
      font-weight: bold;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Order Details</h2>


    <div class="order-details">

      <div class="form-group">
        <b>User Name:</b> <%= order.name %>
      </div>
      <div class="form-group">
        <b>Address:</b> <%= order.address %>
      </div>

      <div class="form-group">
        <b>Product:</b> <%= order.order %>
      </div>

      <div class="form-group">
        <b>Quantity:</b> <%= order.quantity %>
      </div>

      <div class="form-group">
      <b>Total:</b><%= order.total %>
      </div>
      <div class="form-group">
        <b>Status:</b><%= order.status %>
        </div>
      
      <form action="<%= order.id%>" method="post">
      <div class="form-group order-status">
        <label for="status">Order Status:</label>
        <select id="status" name="status" class="form-control">
          <option value="Processing"  <%= order.status == "Processing" ? 'selected'  : ''   %> >Processing</option>
          <option value="Shipped"  <%= order.status == "Shipped" ? 'selected'  : ''   %>  >Shipped</option>
          <option  value="Delivered"  <%= order.status == "Delivered" ? 'selected'  : ''   %>>Delivered</option>
          <option value="Cancelled"  <%= order.status == "Cancelled" ? 'selected'  : ''   %>>Cancelled</option>
        </select>
      </div>


      <div class="form-group">
        <button class="btn btn-primary">Update Status</button>
      </div>
    </form>

    </div>

   
</div>

<!-- Bootstrap JS and dependencies (jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>