<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <!-- for icons  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- for swiper slider  -->
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.min.css">

    <!-- fancy box  -->
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
    <!-- custom css  -->
    <link rel="stylesheet" href="/stylesheets/user/cart.css">
</head>

<body class="body-fixed">
    <!-- start of header  -->
    

    

          

            
            <section style="background-image: url(assets/images/menu-bg.png);"
                class="our-menu section bg-light repeat-img" id="menu">
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sec-title text-center mb-5">
                                    <p class="sec-sub-title mb-3">our menu</p>
          
                                </div>
                            </div>
                        </div>
                        <div class="menu-tab-wp">
                            <div class="row">
                                <div class="col-lg-12 m-auto">
                                    <div class="menu-tab text-center">
                                        <ul class="filters">
                                            <div class="filter-active"></div>
                                            <a  href="?" class="text-light">
                                            <li  class="filter" data-filter=".all, .breakfast, .lunch, .dinner">
                                                
                                                <img src="/images/menu-1.png" alt="">
                                                All
                                          
                                            </li>
                                        </a>
                                        <a href="?category=breakfast" class="text-dark">
                                            <li  class="filter" data-filter=".breakfast">
                                              
                                                <img src="/images/menu-2.png" alt="">
                                                Breakfast
                                            
                                            </li>
                                        </a>
                                        <a href="?category=lunch" class="text-dark">
                                            <li  class="filter" data-filter=".lunch">
                                                
                                                <img src="/images/menu-3.png" alt="">
                                                Lunch
                                          
                                            </li>
                                        </a>
                                            <a href="?category=dinner" class="text-dark">
                                            <li  class="filter" data-filter=".dinner">
                                               
                                                <img src="/images/menu-4.png" alt="">
                                                Dinner
                                           
                                            </li>
                                        </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-list-row">
                            <div class="row g-xxl-5 bydefault_show" id="menu-dish">
                                <% if (products.length==0) { %>
                                    <h2>No Products</h2>
                                   <% }else{ %>
                                    <% for( let i = 0; i < products.length; i++ ) { %>
                                <div class="col-lg-4 col-sm-6 dish-box-wp breakfast " data-cat="<%= products[i].dataValues.category %>">
                                    <div class="dish-box text-center">
                                        <div class="dist-img">
                                            <img src="<%= products[i].dataValues.image %>" alt="<%= products[i].dataValues.name %>">
                                        </div>
                                        <div class="dish-rating">
                                            5
                                            <i class="uil uil-star"></i>
                                        </div>
                                        <div class="dish-title">
                                            <h3 class="h3-title"><%= products[i].dataValues.name %></h3>
                                            <!-- <p>120 calories</p> -->
                                        </div>
                                        <div class="dish-info">
                                            <ul>
                                                <li>
                                                    <p>Type</p>
                                                    <b><%= products[i].dataValues.category %></b>
                                                </li>
                                                <li>
                                                    <a href="/user/<%= id %>/dashboard/cart/<%= products[i].dataValues.id %>">
                                                        <button class="dish-add-btn px-3">
                                                            <i  class="fas fa-shopping-cart ms-0"></i>
                                                        </button>
                                                    </a>
                                                    <!-- <p>Persons</p>
                                                    <b>2</b> -->
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="dist-bottom-row">
                                            <ul>
                                                <li>
                                                    <b>Rs. <%= products[i].dataValues.price %></b>
                                                </li>
                                                <li>

                                                    <a href="/user/<%= id %>/dashboard/product/<%= products[i].dataValues.id %>">
                                                        <button class="dish-add-btn">
                                                            <i class="uil uil-plus"></i>
                                                        </button>
                                                    </a>
                                                  

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>

                             
                               
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           

           

               

                        <!-- <div class="row" id="gallery">
                            <div class="col-lg-10 m-auto">
                                <div class="book-table-img-slider" id="icon">
                                    <div class="swiper-wrapper">
                                        <a href="assets/images/bt1.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt1.jpg)"></a>
                                        <a href="assets/images/bt2.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt2.jpg)"></a>
                                        <a href="assets/images/bt3.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt3.jpg)"></a>
                                        <a href="assets/images/bt4.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt4.jpg)"></a>
                                        <a href="assets/images/bt1.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt1.jpg)"></a>
                                        <a href="assets/images/bt2.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt2.jpg)"></a>
                                        <a href="assets/images/bt3.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt3.jpg)"></a>
                                        <a href="assets/images/bt4.jpg" data-fancybox="table-slider"
                                            class="book-table-img back-img swiper-slide"
                                            style="background-image: url(assets/images/bt4.jpg)"></a>
                                    </div>

                                    <div class="swiper-button-wp">
                                        <div class="swiper-button-prev swiper-button">
                                            <i class="uil uil-angle-left"></i>
                                        </div>
                                        <div class="swiper-button-next swiper-button">
                                            <i class="uil uil-angle-right"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div> -->


                    </div>
                </div>

            </section>

           


            <!-- footer starts  -->
           
                <!-- <div class="bottom-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div class="copyright-text">
                                    <p>Copyright &copy; 2021 <span class="name">community kitchen</span>All Rights Reserved.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button class="scrolltop"><i class="uil uil-angle-up"></i></button>
                    </div>
                </div>
            </footer> -->



        </div>
    </div>





    <!-- jquery  -->
    <script src="/javascript/jquery-3.5.1.min.js"></script>
    <!-- bootstrap -->
    <script src="/javascript/bootstrap.min.js"></script>
    <script src="/javascript/popper.min.js"></script>

    <!-- fontawesome  -->
    <script src="/javascript/font-awesome.min.js"></script>

    <!-- swiper slider  -->
    <script src="/javascript/swiper-bundle.min.js"></script>

    <!-- mixitup -- filter  -->
    <script src="/javascript/jquery.mixitup.min.js"></script>

    <!-- fancy box  -->
    <script src="/javascript/jquery.fancybox.min.js"></script>

    <!-- parallax  -->
    <script src="/javascript/parallax.min.js"></script>

    <!-- gsap  -->
    <script src="/javascript/gsap.min.js"></script>

    <!-- scroll trigger  -->
    <script src="/javascript/ScrollTrigger.min.js"></script>
    <!-- scroll to plugin  -->
    <script src="/javascript/ScrollToPlugin.min.js"></script>
    <!-- rellax  -->
    <!-- <script src="assets/js/rellax.min.js"></script> -->
    <!-- <script src="assets/js/rellax-custom.js"></script> -->
    <!-- smooth scroll  -->
    <script src="/javascript/smooth-scroll.js"></script>
    <!-- custom js  -->
    <script src="/javascript/cart.js"></script>

</body>

</html>