<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/user/product.css">
</head>
<body>

    <!-- Navigation Bar -->
    <%- include('components/nav') %>
<!--  product   -->
    <div class="container product-container">
        <div class="row">
            <div class="col-md-6">
                <img src="<%= product.image %>" alt="Food Image">
            </div>
            <div class="col-md-6 product-info">
                <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                <p><strong>Ingredients:</strong><%= product.ingredients %></p>
                <p><strong>Price:</strong> <%= product.price %></p>
                
                <!-- Quantity Input -->
                <form action="/user/<%= id %>/dashboard/product/<%= product.id %>" method="post" >
                <div class="form-group">
                    <label for="quantity">Quantity:</label>
                    <input type="number" class="form-control" name="quantity" id="quantity" value="1" min="1">
                </div>

                <!-- Order Button -->
                <button class="btn btn-primary btn-block">Order Now</button>
                </form>
            </div>
        </div>
    </div>
         <!--    ABOUT   -->

         <div id="about" class="about">
            <a href="#" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="about-overlay">
                <h1>About us</h1>
                <p>Welcome to Community Kitchen , where we redefine the joy of dining with affordable, safe, and homely food experiences.
                    At Community kitchen, we understand hat great food should not only tantalize your taste buds but also fit 
                   seamlessly into your lifestyle. Our commitment to providing food at affordable rates ensures that you can
                    savor your favorite flavors without compromising your budget.Your safety and comfort are our top priorities.
                     Our chefs meticulously craft each dish, using only the freshest and finest ingredients. We take pride in offering
                      more than just a meal we provide a taste of home, a feeling of warmth, and the assurance that every bite is prepared
                       with care.Our vision extends beyond being a food delivery service; we aim to be your trusted culinary companion. Whether
                        you're a busy professional, a family seeking convenience, or someone who simply loves good food, Community Kitchen is 
                        here to make your dining experience both enjoyable and affordable.</p>
            </div>
        </div>
    
    
            <!--  FOOTER   -->
        
            <%- include('components/footer') %>
    
    <!-- Bootstrap JS and Popper.js (optional) -->
    <script>
        function openAbout() {
       document.getElementById("about").style.width = "100%";
   }

   function closeNav() {
       document.getElementById("about").style.width = "0%";
   }
   </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
